.App {
  text-align: center;
}

.neu_bg_red {
  background-color: #c00;
}

.li_padding_bottom {
  padding-bottom: 0.5em;
}

.ul_margin_bottom {
  margin-bottom: 0;
}

.row_padding_top {
  padding-top: 1.5em;
}
